@{
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

@{
    ViewBag.Title = "LoginShopkeeper";
}


<h2 class="text-center">Login Shopkeeper</h2>
<h6 class="text-center text-danger ">@ViewBag.loginerror</h6>
<!-- Login Start -->

<form action="/home/LoginShopkeeper" method="post">
    
    <div class="login">

        
        <div class="container-fluid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="login-form ">
                    <div class="row">
                        <div class="col-md-6">
                            <label>E-mail / Username</label>
                            <input name="SHOPKEEPER_EMAIL" class="form-control" type="email" placeholder="E-mail / Username">
                        </div>
                        <div class="col-md-6">
                            <label>Password</label>
                            <input name="SHOPKEEPER_PASSWORD" class="form-control" type="password" placeholder="Password">
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</form>

